.xl-bing-dun-dun{
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
}

.main {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    display: inline-block;
    overflow: hidden;
    @for $i from 0 through 10{
        .index-blog-#{$i}{
            @if $i%2==0{
                transform: translateX(-100%);
                animation: slide-in-left 1.5s;
            }
            @else {
                transform: translateX(100%);
                animation: slide-in-right 1.5s;
            }
            animation-delay: #{$i%4*0.2}s;
            animation-fill-mode:forwards
        }
    }
    .xl-pagination{
        margin-bottom: 50px;
    }
}


@keyframes slide-in-right
{
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slide-in-left
{
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
