@import "../global/variable";

@media screen and (max-width: 900px){
    body{
        .xl-index-blog-card{
            //width: 70%;
        }
        .index-main{
            .xl-user-info{
                //display: none;
                width: 100%;
                margin-bottom: 20px;
                .xl-user-main{
                    left: auto;
                    position: relative;
                    width: 70%;
                }
            }
            .xl-index-blogs{
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
                .xl-index-blogs-column{
                    width: 90%;
                }
            }
        }
    }
}

$blogCardMargin:14px;//博客卡片外边距
.index-main {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    //justify-content: space-around;
    margin-top: 60px;
    //justify-content: space-between;
    .xl-user-info{
        margin-top: $blogCardMargin;
        width: 20%;
        flex-shrink: 0;

        .xl-user-main{
            position: fixed;
            //width: 80%;
            width: 16vw;
            left: 2vw;
            margin: 0 auto;
            box-shadow: $box-shadow;
            text-align: center;
            border-radius: 4px;
            padding: 20px;
            background-color: var(--index-user-card-bg);
            .xl-user-avatar{
                $avatarSize:100px;
                width: $avatarSize;
                height: $avatarSize;
                border-radius: 50%;
            }
            .xl-user-nickname{
                font-size: 24px;
                font-weight: bold;
            }
            .xl-user-introduction{
                text-align: left;
                line-height: 20px;
                text-indent: 2rem;
            }
            .xl-user-contact{
                margin-top: 40px;
                display: flex;
                justify-content: center;
                .xl-iconfont{
                    cursor: pointer;
                    margin: 0 6px;
                }
            }
        }
    }
    .xl-index-blogs{
        width: 55%;
        border-radius: 4px;
        display: flex;
        justify-content: space-around;
        .xl-index-blogs-column{
            //padding: 20px;
            display: inline-flex;
            flex-direction: column;
            width: 30%;
            justify-content: space-between;
            //>*{
            //    flex-grow: 1;
            //}
            //align-content: stretch;
        }
        //justify-content: space-between;
    }
}

.xl-index-blog-card{
    background-color: var(--index-bg);
    border-radius: 4px;
    margin: $blogCardMargin 0;
    //box-shadow: $box-shadow;
    padding: 20px;
    //border-bottom: var(--index-blog-card-border);
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    transition: all ease-in-out .3s;
    position: relative;
    &:hover{
        transform: scale(1.05);
    }
    .xl-blog-info{
        display: block;

    }
    .xl-blog-title{
        font-weight: bold;
        font-size: 24px;
        margin: 6px 0;
        word-break: break-all;
    }
    .xl-blog-publish-time{
        font-style: italic;
        font-size: 12px;
        margin: 6px 0;
    }
    .xl-blog-cover-img{
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        display: inline-block;
        border-radius: 4px;
    }
    .xl-blog-abstract{
        overflow: hidden;
        text-overflow: ellipsis;
        //white-space: nowrap;
        white-space: pre-wrap;
        display:-webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 18px;
        margin: 6px 0;
    }
    .xl-blog-card-category{
        margin-top: 14px;
        a{
            word-break: break-all;
        }
        a:hover{
            color: $primaryColor;
        }
    }
    .xl-blog-tags{
        margin: 10px 0;
        padding: 6px;
        overflow: hidden;
        .xl-blog-tag{
            float: left;
            padding: 4px;
            border: $border;
            border-radius: 4px;
            margin-right: 6px;
            margin-top: 4px;
            cursor: pointer;
            &:hover{
                border: 1px solid $primaryColor;
            }
        }
    }
}


