@import "../global/variable";

@media screen and (max-width: 900px){
    body{
        .xl-index-blog-card{
            //width: 70%;
        }
        .index-main{
            .xl-user-info{
                display: none;
            }
            .xl-index-blogs{
                flex-wrap: wrap;
                .xl-index-blogs-column{
                    width: 50vw;
                }
            }
        }
    }
}

.index-main {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    .xl-index-blogs{
        display: flex;
        border-radius: 4px;
        .xl-index-blogs-column{
            //padding: 20px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            width: 12vw;
            justify-content: space-between;
            >*{
                flex-grow: 1;
            }
            //align-content: stretch;
        }
        //justify-content: space-between;
    }
}

.xl-index-blog-card{
    //background-color: var(--index-bg);
    border-radius: 4px;
    margin: 10px;
    box-shadow: $box-shadow;
    padding: 10px;
    border-bottom: var(--index-blog-card-border);
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    transition: all ease-in-out .3s;
    position: relative;
    &:hover{
        transform: scale(1.05);
    }
    .xl-blog-info{
        display: block;

    }
    .xl-blog-title{
        font-weight: bold;
        font-size: 24px;
        margin: 6px 0;
        word-break: break-all;
    }
    .xl-blog-publish-time{
        font-style: italic;
        font-size: 12px;
        margin: 6px 0;
    }
    .xl-blog-cover-img{
        width: 100%;
        object-fit: cover;
        display: inline-block;
        border-radius: 4px;
    }
    .xl-blog-abstract{
        overflow: hidden;
        text-overflow: ellipsis;
        //white-space: nowrap;
        white-space: pre-wrap;
        display:-webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        line-height: 18px;
        margin: 6px 0;
    }
    .xl-blog-card-category{
        margin-top: 14px;
        a{
            word-break: break-all;
        }
        a:hover{
            color: $primaryColor;
        }
    }
    .xl-blog-tags{
        margin: 10px 0;
        padding: 6px;
        overflow: hidden;
        .xl-blog-tag{
            float: left;
            padding: 4px;
            border: $border;
            border-radius: 4px;
            margin-right: 6px;
            margin-top: 4px;
            cursor: pointer;
            &:hover{
                border: 1px solid $primaryColor;
            }
        }
    }
}


