.xl-js-editor-title{
  font-family: font-rz, serif;
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
}
.xl-js-editor-output{
  padding: 20px;
  position: relative;
  min-height: 5rem;
  border-top: 1px solid gray;
}
