@import "./variable";
@font-face {
  font-family: 'font-rz';
  font-display: swap;
  src: url("../fonts/FZBaiZRZTJW.woff");
}

@font-face {
  font-family: 'font-xk';
  font-display: swap;
  src: url("../fonts/FZWangXZXKJW.woff");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif,font-xk,font-rz, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}
.font-display-supported>body{
  font-family: font-xk,sans-serif;
}
.font-xk-loaded>body{
  font-family: font-xk,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

