$namespace:'xl';
$state-prefix:'is-';
$flex-total-divide:100;

//基本色
$primaryColor:#67C23A;
//边框阴影
$box-shadow:0px 3px 21px 0px rgba(0, 0, 0, 0.17);
//边框
$border:1px solid #909399;
//header高度
$headerHeight:70px;
