@import "../variable";
#xl-monaco{
  height: 100%;
}

.xl-monaco-editor-container{
  padding: 20px;
  min-height: 200px;
  height: 200px;
  position: relative;
}
.xl-editor-buttons{
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  >button{
    margin:0 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    outline: none;
    border: 1px solid map_get($colors,plain);
    &:hover{
      color: $primaryColor;
      cursor: pointer;
    }
  }
}
