//@font-face {
//  font-family: 'iconfont';
//  src: url('../iconfont/iconfont.woff2') format('woff2'),
//  url('../iconfont/iconfont.woff') format('woff'),
//  url('../iconfont/iconfont.ttf') format('truetype');
//}

@font-face {
  font-family: 'iconfont';  /* Project id 3018983 */
  src: url('//at.alicdn.com/t/font_3018983_421pa6eduq4.woff2?t=1642485887120') format('woff2'),
  url('//at.alicdn.com/t/font_3018983_421pa6eduq4.woff?t=1642485887120') format('woff'),
  url('//at.alicdn.com/t/font_3018983_421pa6eduq4.ttf?t=1642485887120') format('truetype');
}

.xl-iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xl-icon-unknown:before {
  content: "\e605";
}

.xl-icon-menu-dot:before {
  content: "\e907";
}

.xl-icon-br:before {
  content: "\e623";
}

.xl-icon-view:before {
  content: "\e633";
}

.xl-icon-view-off:before {
  content: "\e634";
}

.xl-icon-blog:before {
  content: "\e603";
}

.xl-icon-more:before {
  content: "\ec47";
}
