//@font-face {
//  font-family: 'iconfont';
//  src: url('../iconfont/iconfont.woff2') format('woff2'),
//  url('../iconfont/iconfont.woff') format('woff'),
//  url('../iconfont/iconfont.ttf') format('truetype');
//}

@font-face {
  font-family: 'iconfont';  /* Project id 3018983 */
  src: url('//at.alicdn.com/t/font_3018983_dezaaas6qxo.woff2?t=1643354713688') format('woff2'),
  url('//at.alicdn.com/t/font_3018983_dezaaas6qxo.woff?t=1643354713688') format('woff'),
  url('//at.alicdn.com/t/font_3018983_dezaaas6qxo.ttf?t=1643354713688') format('truetype');
}

.xl-iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xl-icon-unknown:before {
  content: "\e605";
}
.xl-icon-close:before {
  content: "\e6e9";
}
.xl-icon-search:before {
  content: "\e62c";
}
.xl-icon-code-editor:before {
  content: "\e6bb";
}
.xl-icon-back:before {
  content: "\e7e1";
}

.xl-icon-code:before {
  content: "\e747";
}

.xl-icon-codes:before {
  content: "\e645";
}

.xl-icon-menu-dot:before {
  content: "\e907";
}

.xl-icon-br:before {
  content: "\e623";
}

.xl-icon-view:before {
  content: "\e633";
}

.xl-icon-view-off:before {
  content: "\e634";
}

.xl-icon-blog:before {
  content: "\e603";
}

.xl-icon-more:before {
  content: "\ec47";
}

.xl-icon-heart:before {
  content: "\e669";
}

.xl-icon-comment:before {
  content: "\e7e0";
}

.xl-icon-thumbtack:before {
  content: "\e614";
}
.xl-icon-full:before {
  content: "\e8fa";
}
.xl-icon-runnable:before {
  content: "\e6a9";
}
