@import "/styles/variable";
$size:60px;
.xl-loading-container{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  &[class*='mask']{
    background-color: gray;
    opacity: 0.5;
  }
}
.xl-loading-circle-svg {
  height: $size;
  width: $size;
  animation: loading-rotate 2s linear infinite;
  .path {
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: map_get($colors,primary);
    stroke-linecap: round;
  }
}
.xl-loading-label{
  line-height: 80px;
  font-size: 30px;
  color: map_get($colors,primary);
  vertical-align: middle;
}
@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}