@import "/styles/variable";

.xl-menu {
  font-family: 'font-xk',serif,sans-serif,cursive;
  font-size: 30px;
  border-radius: 5px;
  min-width: 200px;
  min-height: 300px;
  text-align: center;
  box-shadow: $box-shadow;
  background-color: fade_out(map_get($colors,light),0.5);
  &[class*='dark']{
    background-color: fade_out(map_get($colors,dark),0.5);
  }
  .xl-menu-title {
    font-family: font-rz,serif,sans-serif,cursive;
    font-size: 40px;
    padding: 20px;
  }
  .xl-menu-item {
    display: block;
    padding: 10px;
    cursor: pointer;
    &:hover {
      color: map-get($colors, primary) !important;
    }
    &[class*=active] {
      background-color: fade-out(map-get($colors, primary), 0.8);
    }
  }
}
