@import "../../global/variable";
.xl-blog-search-page{
  color:var(--base-color);
  padding: 20px;
  //display: ;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .xl-search-input{
    margin-top: 60px;
    display: inline-block;
    width: 50%;
    position: relative;
    >input{
      background-color: transparent;
      border: $border;
      border-radius: 4px;
      outline: none;
      height: 60px;
      font-size: 20px;
      padding: 0 15px;
      width: 100%;
      color: inherit;
    }
    .xl-search-button{
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      outline: none;
      border: none;
    }
    .xl-iconfont{
      color:var(--base-color);
    }
  }
  .xl-blog-search-blog-list{
    max-width: 100%;
    margin-top: 40px;
    padding: 0 100px;
    overflow: hidden;
  }
}

@media screen and (max-width: 900px) {
  body{
    .xl-blog-search-page{
      padding: 0;
      .xl-search-input{
        width: 80%;
      }
      .xl-blog-search-blog-list{
        width: 100%;
        padding: 0;
        overflow: hidden;
        .xl-blog-card{
          box-shadow: $box-shadow;
        }
      }
    }
  }
}
