.xl-local-run-editor {
  min-height: 500px;
  height: 600px;
  position:relative;

  &[class*='full-screen'] {
  position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .full-icon{
    position: absolute;
    right: 10px;
    top: 5px;
  }
}