@import "../../variable";
.xl-local-run{
  display: flex;
  justify-content: space-between;
  height: 100vh;
  .xl-local-editors{
    flex-basis: 50%;
    height: 100%;
    .xl-local-editor{
      border: $border;
      box-sizing: border-box;
      height: 30vh;
      margin-top: 3vh;
    }
  }
  .xl-local-outputs{
    flex-basis: 49%;
    border: $border;
  }
}