@import "../../global/variable";

.xl-code-run-detail{
  padding: 20px;
  .xl-code-run-iframe{
    height: 40vh;
    border: $border;
    outline: none;
    border-radius: 4px;
    position: relative;
  }
  .xl-lang-tags{
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
    $tagHeight:40px;
    .xl-lang-tag{
      font-size: 20px;
      padding:0 30px;
      margin-right: $tagHeight;
      border-radius:  1px 4px 4px 1px;
      height: $tagHeight;
      line-height: $tagHeight;
      background-color: var(--code-run-detail-tag-bg);
      position: relative;
      cursor: pointer;
      &[class*=active]{
        color: $primaryColor;
      }
      &:before{
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: -$tagHeight;
        border: $tagHeight/2 solid transparent;
        border-right-color: var(--code-run-detail-tag-bg);
      }
      &:after{
        $size:$tagHeight/4;
        content: '';
        display: inline-block;
        width: $size;
        height: $size;
        position: absolute;
        border-radius: 50%;
        top: $tagHeight/2-$size/2;
        left: -$size/2;
        background-color: var(--base-bg-color);
        //border-top-color: var(--code-run-detail-tag-bg);
        //border-bottom-color: var(--code-run-detail-tag-bg);
      }
    }
  }
}
