@import "../global/variable";

#particles-js{
  canvas{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

body{
  background-repeat: no-repeat;
  background-color:var(--base-bg-color);
  background-size:cover;
  background-attachment: fixed;
  color:var(--base-color)
}

.xl-main-content{
  position: relative;
}

//分页器下方给一定空间
.xl-pagination{
  margin-bottom: 50px;
}

