@import "/styles/variable";
.xl-management-layout-main{
  background-color: map_get($colors,light);
}
.xl-management-logo {
  float: left;
  width: 200px;
  height: 31px;
  line-height: 31px;
  margin: 16px 24px 16px 0;
  font-size: 30px;
  color: map_get($colors,dark);
  font-family: font-rz,Serif;
  //background: rgba(255, 255, 255, 0.3);
}
