@import "./variable";
pre {
  background-color: var(--code-bg);
  color: var(--base-color);
  border-radius: 4px;
  overflow-x: auto;
  padding: 10px;
  margin: 10px 10px 10px 0;
}

//可执行代码段
.xl-runnable-script-operation {
  >button{
    background-color: var(--code-bg);
    border-radius: 4px;
    padding: 5px 10px;
    border: 1px solid map_get($colors,plain);
    cursor: pointer;
    &:hover,&:focus{
      filter: brightness(1.1);
    }
  }
  .xl-run-script-button{
    &:before{
      content: "运行";
    }
  }
  .xl-run-script-clear-button {
    margin-left: 20px;
    &:before{
      content: "清空";
    }
  }
  .xl-runnable-output{
    margin: 10px 10px 10px 0;
    background-color: #f8f6f6;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px;
    display: none;
  }
}

//iframe
.xl-local-run-preview{
  border: $border;
  outline: none;
  border-radius: 4px;
}
