$namespace:'xl';
$state-prefix:'is-';
$flex-total-divide:100;
$colors:(
        primary:#67C23A,
        light:#FFFFFF,
        dark:#000000,
        normal:#909399,
        error:#F56C6C,
        warn:#E6A23C,
        success:#409EFF,
)
