@import "../../variable";
@import "../../global/blog";

.xl-md-editor-menu-bar {
  margin: 10px 0;

  > * {
    margin-right: 10px;
  }
}

.xl-blog-edit-code-editor{
  position: absolute;
  top: 2px;
  width: 90%;
  //height: 200px;
  //border: 1px solid gray;
  box-shadow: $box-shadow;
  left: 5%;
  background-color: white;
  &[class*='max']{
    position: fixed;
    z-index: 100;
    left: 5%;
    top:80px;
    //height: 600px;
    //height: 80vh;
  }
}

.xl-md-input-row {
  overflow: auto;
  //border-radius: 5px;
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  border-radius: 2px;
  position: relative;
}

.xl-md-input-row:focus-within {
  border: 1px solid #40a9ff;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
}

#md-input {
  font-size: 20px;
}

.xl-md-preview {
  padding: 10px 0 0 20px;
  font-size: 20px;
  height: 100%;
  border-left: 1px solid #d9d9d9;
}

@mixin full-preview {
  .xl-md-input-col {
    &[class*='in-view'] {
      opacity: 0;
    }
  }
  .xl-md-preview-col {
    position: static;
  }
  .xl-md-preview {
    padding: 20px;
    position: absolute;
    left: 0;
    height: 100%;
    border: none;
  }
}

.xl-md-input-row[class*='full'] {
  @include full-preview
}

@media screen and (max-width: 800px) {
  @include full-preview
}
