@import "../../global/variable";

.rc-dialog-wrap{
  top: 50%;
  transform: translateY(-50%);
}
.rc-dialog-header{
  background-color: var(--modal-bg);
  color:var(--modal-title);
}
.rc-dialog-title{
  font-size: 28px;
  line-height: inherit;
}
.rc-dialog-content{
  background-color: var(--modal-bg);
}

.rc-dialog-close-x{
  color: var(--base-color);
}

.xl-modal--buttons{
  display: flex;
  justify-content: flex-end;
  >.xl-modal--button{
    color: var(--base-color);
    margin-left: 20px;
    padding: 10px;
    border: $border;
    border-radius: 4px;
    cursor: pointer;
  }
}
