@import "/styles/global/variable";

//分页器样式
@media screen and (max-width: 800px) {
  $pageItemSizeMobile:25px;//分页器item大小
  $gapMobile:3px;//分页器item间隔
  body .rc-pagination{
    >li{
      min-width: $pageItemSizeMobile;
      height: $pageItemSizeMobile;
      margin: 0 $gapMobile $gapMobile $gapMobile;
    }
  }
}
$pageItemSize:35px;//分页器item大小
$gap:8px;//分页器item间隔
.rc-pagination{
  //display: inline-block;
  list-style-type: none;
  padding: 0;
  text-align: center;
  >li{
    cursor: pointer;
    min-width: $pageItemSize;
    height: $pageItemSize;
    margin: 0 $gap $gap $gap;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .xl-pagination-item{
      pointer-events:none
    }
  }
  .rc-pagination-item {
    border: 1px solid $primaryColor;
    &:hover{
      background-color: fade_out($primaryColor,0.8);
    }
    &-active{
      background-color: fade_out($primaryColor,0.6) !important;
    }
  }
  &-jump-prev,
  &-jump-next,&-prev,&-next
  {
    button {
      background: transparent;
      border: none;
      cursor: pointer;
      color: #666;
    }
  }
  &-jump-prev,
  &-jump-next {
    outline: 0;
    button:after {
      display: block;
      content: '•••';
    }
  }
  &-prev button:after {
    content: '‹';
    background-color: transparent;
    display: block;
  }

  &-next button:after {
    content: '›';
    background-color: transparent;
    display: block;
  }
  .rc-pagination-options{
    .rc-pagination-options-quick-jumper{
      input{
        width: 40px;
        height: $pageItemSize*0.8;
        outline: none;
        background-color: transparent;
        border: 1px solid $primaryColor;
        border-radius: 4px;
        margin: 0 5px;
      }
    }
  }
}
